Repository lightspeedwp/multi-block-plugin-scaffold: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: false
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  javascript:
    paths:
      - src/
    carryforward: true
  php:
    paths:
      - "*.php"
      - inc/
    carryforward: true

ignore:
  - "vendor/**/*"
  - "node_modules/**/*"
  - "build/**/*"
  - "tests/**/*"
  - "bin/**/*"
  - "*.config.js"

Update block names and classes to use dynamic namespace and slug
  src/blocks/{{slug}}-card/render.php
  src/blocks/{{slug}}-collection/block.json
  src/blocks/{{slug}}-collection/render.php
  src/blocks/{{slug}}-featured/block.json
  src/blocks/{{slug}}-featured/render.php
  src/blocks/{{slug}}-slider/block.json
  src/blocks/{{slug}}-slider/render.php
  src/index.js
Due: javascript

feat: Complete Phase 5 - Block Editor Compatibility & Reference Cleanup
  .github/instructions/a11y.instructions.md
  .github/instructions/blocks-development.instructions.md
  .github/instructions/javascript-react-development.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/reporting.instructions.md
  .github/instructions/scf-fields.instructions.md
  .github/instructions/schema-files.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/temp-files.instructions.md
  .github/instructions/wpcs-css.instructions.md
  .github/instructions/wpcs-html.instructions.md
  .github/instructions/wpcs-javascript.instructions.md
  .github/instructions/wpcs-js-docs.instructions.md
  .github/instructions/wpcs-php-docs.instructions.md
  .github/instructions/wpcs-php.instructions.md
  .github/reports/SCAFFOLD-RELEASE-PREPARATION-2025-12-15.md
  inc/class-core.php
  patterns/{{slug}}-archive.php
  patterns/{{slug}}-card.php
  patterns/{{slug}}-featured.php
  patterns/{{slug}}-grid.php
  patterns/{{slug}}-meta.php
  patterns/{{slug}}-single.php
  patterns/{{slug}}-slider.php
  scripts/generate-plugin.js
  scripts/validate-mustache-registry.js
  src/blocks/{{slug}}-card/edit.js
  src/blocks/{{slug}}-card/render.php
  src/blocks/{{slug}}-collection/edit.js
  src/blocks/{{slug}}-collection/view.js
  src/blocks/{{slug}}-featured/edit.js
  src/blocks/{{slug}}-slider/edit.js
  src/blocks/{{slug}}-slider/view.js
Due: javascript, php

fix: ESLint compliance in generated slider view files
  .github/reports/SCAFFOLD-RELEASE-PREPARATION-2025-12-15.md
  CHANGELOG.md
  package.json
  src/blocks/{{slug}}-slider/view.js
Due: javascript

chore: Apply linter formatting and code style updates
  .eslintignore
  .eslintrc.cjs
  .prettierrc.js
  scripts/__tests__/generate-plugin.agent.test.js
  scripts/__tests__/generate-plugin.test.js
  scripts/audit-frontmatter.js
  scripts/build.js
  scripts/check-markdown-references.js
  scripts/count-tokens.js
  scripts/dry-run-config.js
  scripts/fix-instruction-references.js
  scripts/generate-plugin.js
  scripts/release.agent.js
  scripts/scan-mustache-variables.js
  scripts/update-version.js
  scripts/validate-mustache-registry.js
  scripts/validate-plugin-config.js
  src/components/Gallery/Gallery.js
  src/components/Slider/Slider.js
  src/hooks/useCollection.js
Due: javascript

chore: Add ESLint directives to script files
  scripts/check-markdown-references.js
  scripts/dry-run-test.js
  scripts/fix-instruction-references.js
  scripts/generate-plugin.agent.js
  scripts/generate-plugin.js
  scripts/release.agent.js
Due: none

docs: Update CHANGELOG.md with v1.0.1 release notes
  CHANGELOG.md
Due: none

docs: Update CHANGELOG.md with style variations system
  CHANGELOG.md
Due: none

fix(phase6): Resolve critical instruction contradictions and add validation
  .github/instructions/scaffold-extensions.instructions.md
  .github/instructions/wpcs-javascript.instructions.md
  .github/instructions/wpcs-php.instructions.md
  .github/schemas/block.json
  tests/js/block-json.test.js
  tests/js/block-schema.test.js
Due: none

fix(phase6): Update WordPress 6.5+ standards and standardize text domains
  .github/instructions/block-json.instructions.md
  .github/instructions/wpcs-php.instructions.md
Due: none

docs(phase6): Add comprehensive JSDoc to block index files
  src/blocks/{{slug}}-card/index.js
  src/blocks/{{slug}}-collection/index.js
  src/blocks/{{slug}}-featured/index.js
  src/blocks/{{slug}}-slider/index.js
Due: javascript

docs(phase6): Complete Phase 6.2 documentation standards
  package.json
  src/components/FieldDisplay/index.js
  src/components/Gallery/index.js
  src/components/PostSelector/index.js
  src/components/QueryControls/index.js
  src/components/RepeaterField/index.js
  src/components/ScrollDownArrow/index.js
  src/components/ScrollToTop/index.js
  src/components/Slider/index.js
  src/components/TaxonomyFilter/index.js
  src/hooks/index.js
  src/hooks/useCollection.js
  src/hooks/useFields.js
  src/hooks/usePostType.js
  src/hooks/useRepeater.js
  src/hooks/useSlider.js
  src/hooks/useTaxonomies.js
  tests/js/validate-block-json.test.js
Due: javascript

chore(phase6): Fix linting issues and validate all standards
  src/blocks/{{slug}}-card/edit.js
  src/blocks/{{slug}}-card/index.js
  src/blocks/{{slug}}-collection/index.js
  src/blocks/{{slug}}-featured/edit.js
  src/blocks/{{slug}}-featured/index.js
  src/blocks/{{slug}}-slider/index.js
  src/components/FieldDisplay/index.js
  src/components/Gallery/index.js
  src/components/PostSelector/index.js
  src/components/QueryControls/index.js
  src/components/RepeaterField/index.js
  src/components/ScrollDownArrow/index.js
  src/components/ScrollToTop/index.js
  src/components/Slider/index.js
  src/components/TaxonomyFilter/index.js
  src/hooks/index.js
  src/hooks/useCollection.js
  src/hooks/useFields.js
  src/hooks/usePostType.js
  src/hooks/useRepeater.js
  src/hooks/useSlider.js
  src/hooks/useTaxonomies.js
  tests/js/block-json.test.js
  tests/js/block-schema.test.js
  tests/js/blocks.test.js
  tests/js/components.test.js
  tests/js/dry-run-config.test.js
  tests/js/generate-plugin.test.js
  tests/js/validate-block-json.test.js
  tests/js/validate-plugin-config.test.js
Due: javascript

docs: Update CHANGELOG with complete Phase 6 work
  CHANGELOG.md
Due: none

fix: Restore {{namespace}} placeholder in block @package tags
  .github/instructions/block-json.schema.json
  scripts/block-json.test.js
  scripts/block-schema.test.js
  scripts/blocks.test.js
  scripts/components.test.js
  scripts/dry-run-config.js
  scripts/dry-run-config.test.js
  scripts/dry-run-mustache-vars.test.js
  scripts/entry.test.js
  scripts/generate-plugin.test.js
  scripts/hooks.test.js
  scripts/lib/logger.js
  scripts/validate-block-json.test.js
  scripts/validate-plugin-config.test.js
  src/blocks/{{slug}}-card/index.js
  src/blocks/{{slug}}-collection/index.js
  src/blocks/{{slug}}-featured/index.js
  src/blocks/{{slug}}-slider/index.js
  tests/setup.js
  tests/test-logger.js
  tests/test-utils.js
Due: javascript

feat: Organize agent scripts in dedicated scripts/agents/ directory
  scripts/agents/README.md
  scripts/agents/generate-plugin.agent.js
  scripts/agents/release-scaffold.agent.js
  scripts/agents/release.agent.js
  scripts/agents/template.agent.js
  scripts/agents/template.agent.test.js
  tests/bin/build.js
  tests/bin/build.test.js
  tests/bin/generate-theme.js
  tests/bin/generate-theme.test.js
  tests/test-theme-build/package.json
  tests/test-theme-build/style.css
Due: none

docs: Enhance Jest testing instructions with comprehensive guide
  .github/instructions/jest-tests.instructions.md
Due: none

feat: Add comprehensive testing documentation and agent permissions system
  .github/agents/generate-plugin.agent.md
  .github/agents/template.agent.md
  .github/instructions/agent-spec.instructions.md
  .github/instructions/php-tests.instructions.md
  .github/instructions/playwright-tests.instructions.md
  .github/schemas/frontmatter.schema.json
Due: none

test: Add placeholder test files for comprehensive script coverage
  scripts/__tests__/agent-script.test.js
  scripts/__tests__/audit-frontmatter.test.js
  scripts/__tests__/build.test.js
  scripts/__tests__/count-tokens.test.js
  scripts/__tests__/dry-run-config.test.js
  scripts/__tests__/dry-run-test.test.js
  scripts/__tests__/generate-plugin.agent.test.js
  scripts/__tests__/scan-mustache-variables.test.js
  scripts/__tests__/test-dry-run.test.js
  scripts/__tests__/test-mustache-schema.test.js
  scripts/__tests__/test-placeholders.test.js
  scripts/__tests__/update-version.test.js
  scripts/__tests__/validate-mustache-registry.test.js
  scripts/__tests__/validate-plugin-config.test.js
  scripts/agents/__tests__/generate-plugin.agent.test.js
  scripts/agents/__tests__/release-scaffold.agent.test.js
  scripts/agents/__tests__/release.agent.test.js
  scripts/lib/__tests__/config-schema.full.test.js
  scripts/lib/__tests__/config-schema.test.js
  scripts/lib/__tests__/logger.test.js
  scripts/lib/__tests__/logger.writeLog.test.js
  scripts/lib/__tests__/mode-detector.full.test.js
  scripts/lib/__tests__/mode-detector.test.js
  scripts/utils/__tests__/audit-frontmatter.test.js
  scripts/utils/__tests__/check-markdown-references.test.js
  scripts/utils/__tests__/components.test.js
  scripts/utils/__tests__/count-tokens.test.js
  scripts/utils/__tests__/entry.test.js
  scripts/utils/__tests__/fix-instruction-references.test.js
  scripts/utils/__tests__/hooks.test.js
  scripts/utils/__tests__/scan-mustache-variables.test.js
  scripts/utils/__tests__/test-placeholders.test.js
  scripts/utils/__tests__/update-version.test.js
  scripts/validation/__tests__/block-json.test.js
  scripts/validation/__tests__/block-schema.test.js
  scripts/validation/__tests__/validate-block-json.test.js
  scripts/validation/__tests__/validate-mustache-registry.test.js
  scripts/validation/__tests__/validate-plugin-config.test.js
Due: none

fix: Resolve test failures to enable release
  scripts/agents/template.agent.test.js
  scripts/dry-run/dry-run-config.js
  scripts/lib/__tests__/config-schema.full.test.js
  scripts/lib/__tests__/logger.writeLog.test.js
  scripts/lib/__tests__/mode-detector.full.test.js
  scripts/validation/__tests__/validate-plugin-config.test.js
  tests/bin/build.js
  tests/bin/build.test.js
Due: none

fix: Add missing schema properties and improve validation
  .github/schemas/plugin-config.schema.json
  scripts/lib/__tests__/config-schema.full.test.js
  scripts/utils/__tests__/test-placeholders.test.js
  scripts/validation/validate-plugin-config.js
  tests/bin/generate-plugin.test.js
Due: none

test: Skip incomplete generate-plugin.agent tests
  scripts/__tests__/generate-plugin.agent.test.js.skip
  scripts/lib/wizard.js
Due: none

fix: Update test script to only run unit tests for releases
  package.json
Due: none

fix: Auto-fix linting errors
  jest.config.js
  tests/test-helper.js
Due: none

chore: Release v1.1.0
  CHANGELOG.md
  package.json
Due: none

feat: Add Git Flow support to release-scaffold agent
  scripts/agents/release-scaffold.agent.js
Due: none

docs: Add comprehensive release process documentation
  docs/RELEASE-PROCESS.md
Due: none

feat: add .mustacheignore pattern support with glob matching
  scripts/utils/__tests__/scan.test.js
  scripts/utils/scan.js
Due: none

feat: add registry change reporting
  scripts/reports/.gitkeep
  scripts/scan-mustache-variables.js
  scripts/utils/__tests__/registry-diff.test.js
  scripts/utils/registry-diff.js
Due: none

docs: update changelog for new shared components and improvements
  CHANGELOG.md
Due: none
