Repository lightspeedwp/multi-block-plugin-scaffold: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, php

docs: create complete documentation structure and add i18n workflow
  .distignore
  .github/workflows/i18n.yml
  README.md
  docs/AGENTS.md
  docs/API-REFERENCE.md
  docs/BUILD-PROCESS.md
  docs/DB-MIGRATION.md
  docs/DEPRECATION.md
  docs/GENERATE-PLUGIN.md
  docs/INTERNATIONALIZATION.md
  docs/PERFORMANCE.md
  docs/README.md
  docs/SECURITY-HEADERS.md
  docs/SECURITY-NONCE.md
  docs/SRC-FOLDER-STRUCTURE.md
  docs/TEMPLATE-VALIDATION.md
  docs/TESTING.md
  docs/TOOL-CONFIGS.md
  docs/WORKFLOWS.md
  docs/config/README.md
  docs/config/babel.md
  docs/config/eslint.md
  docs/config/jest.md
  docs/config/npm-package-json-lint.md
  docs/config/playwright.md
  docs/config/postcss.md
  docs/config/prettier.md
  docs/config/stylelint.md
  docs/config/webpack.md
  docs/config/wp-scripts.md
  package.json
  reports/README.md
  reports/STYLELINT-MIGRATION.md
Due: none

docs: add frontmatter to .github directory markdown files
  .github/agents/agent.md
  .github/prompts/prompts.md
Due: none

docs: update README with improved configuration and structure
  .github/instructions/index.md
  README.md
Due: none

Add new files and AI Ops maintenance
  .github/agents/agent.md
  .github/agents/scaffold-generator.agent.md
  .github/instructions/block-json.instructions.md
  .github/instructions/blocks.instructions.md
  .github/instructions/generate-plugin.instructions.md
  .github/instructions/php-block.instructions.md
  .github/instructions/theme-json.instructions.md
  DOCS.md
  docs/GENERATE-PLUGIN.md
  multi-block-plugin-scaffold.code-workspace
  package.json
  src/components/ScrollDownArrow/ScrollDownArrow.js
  src/components/ScrollDownArrow/index.js
  src/components/ScrollDownArrow/style.scss
  src/components/ScrollToTop/ScrollToTop.js
  src/components/ScrollToTop/index.js
  src/components/ScrollToTop/style.scss
  src/components/index.js
  webpack.config.js
Due: javascript

Fix: Add inline ESLint/Stylelint directives to resolve false positives
  .eslint.config.cjs
  .stylelint.config.cjs
  TECH-DEBT.md
  jest.config.js
  src/blocks/{{slug}}-collection/edit.js
  src/blocks/{{slug}}-collection/style.scss
  src/blocks/{{slug}}-featured/style.scss
  src/components/RepeaterField/RepeaterField.js
  tests/agents/scaffold-generator.agent.test.js
  tests/e2e/blocks.spec.js
  tests/e2e/collection.spec.js
  tests/e2e/post-type.spec.js
  tests/e2e/setup.js
  tests/e2e/slider.spec.js
  tests/js/dry-run-config.test.js
  tests/setup-tests.js
  webpack.config.js
Due: javascript

Fix: Resolve 6 real code quality issues from TECH-DEBT
  src/blocks/{{slug}}-featured/edit.js
  src/blocks/{{slug}}-slider/view.js
  src/hooks/useCollection.js
  src/hooks/useTaxonomies.js
Due: javascript

docs: Update TECH-DEBT.md - Mark all 6 code quality issues as FIXED
  TECH-DEBT.md
Due: none

test: Add Phase 3 plugin generation test report and configuration
  plugin-generation-test.json
  reports/PHASE-3-PLUGIN-GENERATION-TEST.md
Due: none

docs: Add Phase 3 completion summary - scaffold PRODUCTION READY
  reports/PHASE-3-COMPLETION-SUMMARY.md
Due: none

Updating the PHP Namespace
  inc/class-block-bindings.php
  inc/class-block-templates.php
  inc/class-fields.php
  inc/class-options.php
  inc/class-patterns.php
  inc/class-post-types.php
  inc/class-repeater-fields.php
  inc/class-scf-json-validator.php
  inc/class-scf-json.php
  inc/class-taxonomies.php
  {{slug}}.php
Due: php

Moving the initiation class to a core class
  inc/class-core.php
  {{slug}}.php
Due: php

fix(docs): Break support and agent circular reference chains (39/56 chains broken)
  AGENTS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/AGENTS-OVERVIEW.md
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/BUILD-PROCESS.md
  docs/CONFIGS.md
  docs/FOLDER-STRUCTURE.md
  docs/GENERATE-PLUGIN.md
  docs/LINTING.md
  docs/LOGGING.md
  docs/PERFORMANCE.md
  docs/README.md
  docs/REPORTING.md
  docs/SECURITY.md
  docs/TESTING.md
  docs/VALIDATION.md
  docs/WORKFLOWS.md
  patterns/README.md
Due: none

fix(docs): Complete Step 4 - Break remaining support and agent circular chains (40/89 total)
  .github/custom-instructions.md
  CODE_OF_CONDUCT.md
  SUPPORT.md
  docs/AGENTS-OVERVIEW.md
Due: none

project: remove deprecated .github/tasks/ directory
  .github/instructions/instructions.md
  .github/instructions/single-block-plugin.instructions.md
  .github/project/README.md
  .github/reports/2025-12-09-task-files-organization.md
  .github/tasks/CHAIN-REDUCTION-TASKS.md
  .github/tasks/CONTEXT_REDUCTION_TASKS.md
  .github/tasks/README.md
  .github/tasks/TECH-DEBT.md
Due: none

docs: update documentation for dual-mode generation system
  README.md
  docs/GENERATE-PLUGIN.md
Due: none

docs: add GitHub template repository settings and v1.0.0 CHANGELOG
  .github/template-repository-settings.json
  CHANGELOG.md
Due: none

docs: add GitHub release setup instructions for v1.0.0
  docs/RELEASE-SETUP.md
Due: none

fix: use {{cpt_slug}} instead of {{slug}} for post type identifiers
  docs/GENERATE-PLUGIN.md
  inc/class-post-types.php
  src/components/PostSelector/PostSelector.js
  src/hooks/useCollection.js
  src/hooks/useFields.js
  src/hooks/usePostType.js
  src/hooks/useRepeater.js
Due: javascript, php

docs: update release process documentation with GitHub setup instructions and release notes template
  CHANGELOG.md
  docs/RELEASE-SETUP.md
  docs/RELEASE_PROCESS.md
Due: none

docs: update README files and add release creation prompt
  .github/prompts/create-release.prompt.md
  README.md
  assets/README.md
  bin/README.md
  docs/README.md
  inc/README.md
  languages/README.md
  patterns/README.md
  readme.instructions.md
  scf-json/README.md
  scf-json/schema/README.md
  scripts/README.md
  src/README.md
  src/blocks/README.md
  src/components/README.md
  src/hooks/README.md
  src/scss/README.md
  src/utils/README.md
  styles/README.md
  template-parts/README.md
  templates/README.md
  tests/README.md
  tests/agents/README.md
  tests/e2e/README.md
  tests/js/README.md
  tests/php/README.md
Due: javascript, php

Agent and instructions file clean up
  .gemini/settings.json
  .gemini/settings.local.json
  .github/agents/code-quality.agent.md
  .github/agents/generate-plugin.agent.md
  .github/agents/planning.agent.md
  .github/agents/release.agent.md
  .github/instructions/README.md
  .github/instructions/_index.instructions.md
  .github/instructions/block-plugin-development.instructions.md
  .github/instructions/blocks-development.instructions.md
  .github/instructions/blocks.instructions.md
  .github/instructions/javascript-react-development.instructions.md
  .github/instructions/javascript-react.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/pattern-development.instructions.md
  .github/instructions/patterns-and-templates.instructions.md
  .github/instructions/patterns.instructions.md
  .github/instructions/planning.instructions.md
  .github/instructions/playwright.instructions.md
  .github/instructions/readme.instructions.md
  .github/instructions/scaffold-extensions.instructions.md
  .github/instructions/testing-e2e.instructions.md
  .github/instructions/wp-security.instructions.md
  .github/projects/active/2025-12-11-wordpress-standards-multi-cpt-scaffold.md
  .github/projects/completed/2025-12-10-instruction-consolidation.md
  .github/reports/consolidation-completion-summary-2025-12-10.md
  .gpt/settings.local.json
  inc/class-core.php
  {{slug}}.php
Due: php

Clean up, add instructions, agents, and prompts
  .github/agents/a11y.agent.md
  .github/agents/planning.agent.md
  .github/agents/release-scaffold.agent.md
  .github/agents/release.agent.md
  .github/agents/reporting.agent.md
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
  .github/instructions/planning.instructions.md
  .github/instructions/release-scaffold.instructions.md
  .github/instructions/release.instructions.md
  .github/instructions/task-planner.instructions.md
  .github/instructions/task-researcher.instructions.md
  .github/prompts/create-release-scaffold.prompt.md
  .github/prompts/task-planner.prompt.md
  .github/prompts/task-researcher.prompt.md
  .github/reports/2025-12-09-session-completion-report.md
  .github/reports/2025-12-09-task-file-index-and-summary.md
  .github/reports/2025-12-09-task-files-organization.md
  .github/reports/2025-12-09-tasks-directory-removal.md
  .github/reports/PHASE-3-COMPLETION-SUMMARY.md
  .github/reports/README.md
  .github/reports/REPORTING-INSTRUCTIONS-FIX-2025-01-15.md
  .github/reports/consolidation-completion-summary-2025-12-10.md
  .github/reports/instruction-consolidation-audit-2025-12-10.md
Due: none

Update instruction files
  .github/agents/a11y.agent.md
  .github/instructions/_index.instructions.md
  .github/instructions/a11y.instructions.md
  .github/instructions/agent-spec.instructions.md
  .github/instructions/block-json.instructions.md
  .github/instructions/blocks-development.instructions.md
  .github/instructions/folder-structure.instructions.md
  .github/instructions/generate-plugin.instructions.md
  .github/instructions/i18n.instructions.md
  .github/instructions/instructions.instructions.md
  .github/instructions/javascript-react-development.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/patterns-and-templates.instructions.md
  .github/instructions/readme.instructions.md
  .github/instructions/release-scaffold.instructions.md
  .github/instructions/release.instructions.md
  .github/instructions/reporting.instructions.md
  .github/instructions/scaffold-extensions.instructions.md
  .github/instructions/scf-fields.instructions.md
  .github/instructions/schema-files.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/task-planner.instructions.md
  .github/instructions/task-researcher.instructions.md
  .github/instructions/temp-files.instructions.md
  .github/instructions/testing-e2e.instructions.md
  .github/instructions/wpcs-accessibility.instructions.md
  .github/instructions/wpcs-css.instructions.md
  .github/instructions/wpcs-html.instructions.md
  .github/instructions/wpcs-javascript.instructions.md
  .github/instructions/wpcs-js-docs.instructions.md
  .github/instructions/wpcs-php-docs.instructions.md
  .github/instructions/wpcs-php.instructions.md
  .github/prompts/agent-spec-auditor.prompt.md
Due: none

Update ai ops index files, agents, files
  .github/agents/agent.md
  .github/agents/generate-plugin.agent.md
  .github/custom-instructions.md
  .github/instructions/_index.instructions.md
  .github/prompts/generate-plugin.prompt.md
  .github/schemas/mustache-variables.schema.json
  .github/schemas/plugin-config.schema.json
  AGENTS.md
  docs/GENERATE-PLUGIN.md
  scripts/mustache-variables-registry.json
  scripts/scan-mustache-variables.js
Due: none

Update agents files
  .github/agents/release-scaffold.agent.md
  .github/agents/release.agent.md
  .github/agents/reporting.agent.md
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
  .github/projects/plan/2025-12-11-wordpress-standards-compliance-comprehensive-review.md
  docs/AGENTS-OVERVIEW.md
  docs/AGENT_CREATION.md
Due: none

Update agents files
  .github/agents/README.md
  .github/agents/a11y.agent.md
  .github/agents/agent-script.js
  .github/agents/generate-plugin.agent.md
  .github/agents/release-scaffold.agent.md
  .github/agents/reporting.agent.md
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
Due: none

Update agents files
  .github/agents/release.agent.md
Due: none

Update agents files
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
Due: none

Update agents, instructions and more
  .github/agents/agent.md
  .github/agents/code-quality.agent.md
  .github/agents/generate-plugin.agent.md
  .github/agents/release-scaffold.agent.md
  .github/agents/template.agent.md
  .github/instructions/block-json.instructions.md
  .github/instructions/blocks-development.instructions.md
  .github/instructions/generate-plugin.instructions.md
  .github/instructions/instructions.instructions.md
  .github/instructions/javascript-react-development.instructions.md
  .github/instructions/patterns-and-templates.instructions.md
  .github/instructions/readme.instructions.md
  .github/instructions/reporting.instructions.md
  .github/instructions/schema-files.instructions.md
  .github/instructions/task-planner.instructions.md
  .github/instructions/task-researcher.instructions.md
  .github/instructions/wpcs-accessibility.instructions.md
  .github/instructions/wpcs-css.instructions.md
  .github/instructions/wpcs-javascript.instructions.md
  .github/instructions/wpcs-js-docs.instructions.md
  .github/instructions/wpcs-php-docs.instructions.md
  .github/instructions/wpcs-php.instructions.md
  .github/prompts/generate-plugin.prompt.md
  .github/schemas/mustache-variables-registry.schema.json
  VERSION
  docs/GENERATE-PLUGIN.md
  docs/plans/PART-2-multi-cpt-wizard-schema-expansion.md
  scripts/generate-plugin.js
  scripts/validate-mustache-registry.js
Due: none

Delete docs
  .github/projects/active/2025-12-11-wordpress-standards-multi-cpt-scaffold.md
  .github/projects/active/CHAIN-REDUCTION-TASKS.md
  .github/projects/active/CONTEXT_REDUCTION_TASKS.md
  .github/projects/active/TECH-DEBT.md
  .github/projects/completed/2025-12-10-instruction-consolidation.md
  .github/reports/README.md
  .github/reports/consolidation/CONSOLIDATION-SUMMARY.md
  .github/reports/consolidation/PHP-INSTRUCTION-CONSOLIDATION.md
  .github/reports/migration/STYLELINT-MIGRATION.md
  .github/reports/testing/PHASE-3-PLUGIN-GENERATION-TEST.md
  .github/reports/validation/LINK-VALIDATION-REPORT.md
  .github/schemas/README.md
  docs/AGENTS-OVERVIEW.md
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/BUILD-PROCESS.md
  docs/CONFIGS.md
  docs/DEPRECATION.md
  docs/FOLDER-STRUCTURE.md
  docs/GOVERNANCE.md
  docs/INTERNATIONALIZATION.md
  docs/LINTING.md
  docs/LOGGING.md
  docs/PERFORMANCE.md
  docs/RELEASE_PROCESS.md
  docs/REPORTING.md
  docs/SECURITY.md
  docs/TESTING.md
  docs/VALIDATION.md
  docs/WORKFLOWS.md
Due: none

Delete references
  .github/agents/template.agent.md
Due: none

Delete references
  .github/instructions/_index.instructions.md
  .github/instructions/blocks-development.instructions.md
  .github/instructions/instructions.instructions.md
  .github/instructions/patterns-and-templates.instructions.md
  .github/instructions/readme.instructions.md
  .github/instructions/reporting.instructions.md
  .github/instructions/task-planner.instructions.md
  .github/instructions/task-researcher.instructions.md
  scripts/fix-instruction-references.js
Due: none

Delete references
  .github/agents/development-assistant.agent.md
  .github/agents/generate-plugin.agent.md
  .github/agents/release-scaffold.agent.md
  .github/agents/release.agent.md
  .github/instructions/agent-spec.instructions.md
  .github/instructions/block-json.instructions.md
  .github/instructions/blocks-development.instructions.md
  .github/instructions/folder-structure.instructions.md
  .github/instructions/generate-plugin.instructions.md
  .github/instructions/i18n.instructions.md
  .github/instructions/instructions.instructions.md
  .github/instructions/readme.instructions.md
  .github/instructions/release-scaffold.instructions.md
  .github/instructions/release.instructions.md
  .github/instructions/scaffold-extensions.instructions.md
  .github/instructions/schema-files.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/task-planner.instructions.md
  .github/instructions/task-researcher.instructions.md
  .github/instructions/testing-e2e.instructions.md
  .github/instructions/wpcs-accessibility.instructions.md
  .github/instructions/wpcs-css.instructions.md
  .github/instructions/wpcs-javascript.instructions.md
Due: none

Path conditions:
  javascript: any of: src/, but not: vendor/**/*, node_modules/**/*, build/**/*, tests/**/*, bin/**/*, *.config.js
  php: any of: *.php, inc/, but not: vendor/**/*, node_modules/**/*, build/**/*, tests/**/*, bin/**/*, *.config.js
